{% load pwa %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Django + Svelte + Webpack boilerplate :]" />
  <title>Django Svelte Webpack</title>

  <!-- PWA metatags -->
  {% progressive_web_app_meta %}
</head>

<body>
  <noscript>This page requires javascript to run. Please, enable javascript.</noscript>
  <div id="svelte-app"></div>
  <!-- Webpack rendered JS -->
  {% render_bundle 'bundle' %}

</body>

</html>
